<div class="dialog-heading font-bold text-center">
    <div class="text-md">复制病情跟踪</div>
</div>
<div class="modal-body">
    <div class="row text-center  m-t-sm">
        本次包含5个题目，请输入复制后病情跟踪的提问时间
        <table style="width:400px;margin:10px auto;line-height:40px;">
            <tr>
                <td>发送日期</td>
                <td>发送时间</td>
            </tr>
            <tr>
                <td style="width:200px">第
                    <select class="form-control" ng-model="" style="width:80px;display:inline;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>天
                </td>
                <td style="width:200px">
                    <select class="form-control" style="width:40px;display:inline;">
                        <option>09</option>
                    </select> ：
                    <select class="form-control" style="width:40px;display:inline;">
                        <option>00</option>
                        <option>30</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="row m-t">
        <div class="col-xs-4 col-xs-offset-2">
            <button type="button" class="btn-block btn btn-success" ng-click="ok()">确定</button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn-block btn btn-default" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
