<div class="org hbox-auto-xs hbox-auto-sm ng-scope" ng-controller="ChargeListCtrl">
    <div class="frame-panel">
        <div class="row">
            <h4 class="col-xs-12 text-center">
                收费服务订单
            </h4>
        </div>
        <div class="row m-t-sm">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="col-xs-12 m-t-sm">
                        <div class="form-group form-inline">
                            <label class="control-label">每页</label>
                            <select class="form-control" ng-model="page.size" ng-change="funGetOrderList({index:1, size:page.size},_search)">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <label class="control-label">条</label>
                            <input type="text" placeholder="医生姓名" class="form-control m-l-sm" style="width: 90px" ng-model="_search.doctorName">
                            <input type="text" placeholder="患者姓名" class="form-control m-l-xxs" style="width: 90px" ng-model="_search.patientName">
                            <input type="text" placeholder="线下医院" class="form-control m-l-xxs" style="width: 90px" ng-model="_search.hostpitalName">
                            <select class="form-control m-l-xs" ng-model="orderType">
                                <option value="">全部订单类型</option>
                                <option value="4">健康关怀套餐</option>
                                <option value="9">名医面对面</option>
                                <option value="1">图文咨询</option>
                                <option value="2">电话咨询</option>
                            </select>
                            <select class="form-control m-l-xxs" ng-options="option.value as option.title for option in options.status" ng-model="_search.orderStatus">
                                <option value="">全部订单状态</option>
                            </select>
                            <label class="input-group m-b-none m-r-lg">
                                <input type="text" class="form-control w-md" datepicker-popup="yyyy-MM-dd HH:mm" ng-model="_search.startCreateTime" is-open="startBtn" placeholder="开始日期" ng-blur="funTimeToLong(_search,'startCreateTime')" max-date="_search.endCreateTime" current-text="今天" clear-text="清理" close-text="关闭" init-date="initDate" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event,'startBtn')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </label>
                            <label class="input-group m-b-none m-l-xxl">
                                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd HH:mm" ng-model="_search.endCreateTime" is-open="endBtn" placeholder="结束日期" ng-blur="funTimeToLong(_search,'endCreateTime')" min-date="_search.startCreateTime" current-text="今天" clear-text="清理" close-text="关闭" init-date="initDate" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event,'endBtn')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </label>
                            <button class="btn btn-success m-l-xxs" ng-click="funGetOrderList({index:1, size:page.size},_search)">查询</button>
                            <button class="btn btn-primary" ng-click="_search={};funGetOrderList({index:1, size:page.size},_search)">重置</button>
                            <a class="btn btn-info" href="{{downLoadUrl}}">导出</a>
                        </div>
                    </div>
                    <table class="table table-striped b-t dataTable no-footer">
                        <thead>
                            <tr>
                                <th>医生名</th>
                                <th>患者名</th>
                                <th>订单类型</th>
                                <th>订单号</th>
                                <th>订单时间</th>
                                <th>订单金额(元)</th>
                                <th>订单状态</th>
                                <th>线下医院</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in planList track by $index">
                                <td>{{item.doctorName}}</td>
                                <td>{{item.patientName}}</td>
                                <td>{{item.packType=='1'?'图文咨询':item.packType=='2'?'电话咨询':item.orderType=='4'?'健康关怀套餐':item.orderType=='9'?'名医面对面':item.orderType=='3'?'门诊套餐':''}}</td>
                                <td>{{item.orderNo}}</td>
                                <td>{{item.formateTime}}</td>
                                <td>{{item.price/100}}</td>
                                <td>{{funGetTitleByValue(item.orderStatus,options.status)}}</td>
                                <td>{{item.hospitalName}}</td>
                            </tr>
                            <tr ng-if="!planList||planList.length<1">
                                <td colspan="8" class="text-center">没有找到符合条件的数据</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination ng-show="page.count>0" total-items="page.count" ng-model="page.index" items-per-page="page.size" ng-change="page.changed()" direction-links="false" boundary-links="true" first-text="首页" last-text="尾页"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
