<div style="background-color:#fff;">
    <div class="post-wrapper">
        <div class="post-content">
            <h4 class="text-center m-b-md">{{postDetail.title}}</h4>
            <div class="post-author m-b-md">
                <img ng-src={{postDetail.headUrl}} alt="">
                <div class="post-author-desc m-l-xs">
                    <p style="font-size: 16px;">{{postDetail.createName}}
                        <span class="post-circle m-l-sm">{{postDetail.circleName}}</span>
                    </p>
                    <p style="color:#c0c0c0;" class="m-t-xs">{{postDetail.createTime}}</p>
                </div>
            </div>

            <div ng-if="postDetail.type == 0">
                <p><face-icon-filter data="postDetail.text"></face-icon-filter></p>
                <div class="m-t-xs clear" ng-show="postDetail.imgUrls.length>0">
                    <div ng-repeat="img in postDetail.imgUrls">
                        <img class="post-detail-img" ng-src="{{img}}" alt="">
                    </div>
                </div>
            </div>
            <div ng-if="postDetail.type == 1" class="post-richText">
                <span ng-bind-html="postDetail.richText"></span>
            </div>
            <div ng-if="postDetail.type == 2">
                <div style="display:inline-block; position: relative;" class="m-b-sm" ng-show="postDetail.video.length>0">
                    <img ng-src="{{postDetail.video[0].play_first}}" alt="">
                    <img class="video-play-btn" src="./src/img/play.png" alt="">
                </div>
                <p><face-icon-filter data="postDetail.text"></face-icon-filter></p>
            </div>
            <div ng-show="postDetail.files.length>0">
                <h5 class="m-t-md font-w-b">附件：</h5>
                <div class="row" ng-repeat="file in postDetail.files">
                    <label class="col-md-10 text-ellipsis text-info a-link">{{file.file_name}}</label>
                    <label class="col-md-2 text-right">
                        <a class="text-info a-link" ng-href="{{file.file_url}}?download/{{file.file_name}}">下载</a>
                    </label>
                </div>
            </div>
        </div>
        <div class="line line-solid b-b line-lg pull-in"></div>
        <div class="post-content">
            <div class="clear m-b-sm">
                <h5 style="display:inline-block;line-height:30px;margin:0;">全部回复</h5>
                <div class="pull-right" style="margin-top: 5px;">
                    <span>每页</span>
                    <select name="account" class="text-xs" style="height: 30px;border-color:#cfdadd;width: 60px;" ng-change="pageSizeChange()" ng-model="page_size">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>条</span>
                </div>
            </div>
            
            <div ng-repeat="reply in replyList">
                <div class="reply-wrapper">
                    <img class="reply-head" ng-src={{reply.replyHeadUrl}} />
                    <span class="m-l-sm"><span class="text-info">{{reply.replyName}}</span>
                        <span ng-if="reply.toUserName">&nbsp;回复&nbsp;<span class="text-info">{{reply.toUserName}}</span></span>&nbsp;：
                        <face-icon-filter data="reply.content"></face-icon-filter>
                    </span>
                    <div ng-show="reply.imgUrls" class="m-t-xs m-b-sm">
                        <img class="reply-img m-r-sm" ng-repeat="itImg in reply.imgUrls" ng-src={{itImg}}>
                    </div>
                </div>
                <div class="reply-foot m-t-xs">
                    <span style="color:#808080;">{{reply.time}}</span>
                    <!-- <span class="m-l-md" style="color:#808080;">{{reply.floor}}</span> -->
                    <div class="reply-delete text-info" ng-show="reply.delete==1" ng-click="deletePostReply(reply.id)">删除</div>
                </div>
                <div class="line line-solid b-b pull-in"></div>
            </div>

            <div ng-show="replyList<1" class="text-center">
                无数据
                <div class="line line-solid b-b pull-in"></div>
            </div>

            <div class="row" ng-show="page_count>0">
                <div class="col-sm-6">
                    <div class="dataTables_info ng-binding" id="contactsList_info" role="status" aria-live="polite">
                        当前第 {{(pageIndex-1)*page_size+1}} - {{pageIndex*page_size > replyTotal ? replyTotal:  pageIndex*page_size}} 条，共 {{replyTotal}} 条
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <pagination total-items="replyTotal" ng-model="pageIndex" items-per-page="page_size" ng-change="pageChanged()" direction-links="false" boundary-links="true" first-text="首页" last-text="尾页" style="margin:5px 0 20px;"></pagination>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn m-b-xs w-xs btn-info" ng-click="cancel()">关闭</button>
            <button class="btn m-b-xs w-xs btn-danger" ng-click="deletePost(postDetail.id)">删除帖子</button>
        </div>
    </div>
</div>
<script type="text/ng-template" id="delReplyModal.html">
    <div class="panel panel-default del-modal">
        <div class="panel-heading">确认删除该条评论？</div>
        <div class="panel-body">
            <button class="btn btn-default" ng-click="cancel()">取消</button>
            <button class="btn btn-primary" ng-click="ok()">确定</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="delPostModal.html">
    <div class="panel panel-default del-modal">
        <div class="panel-heading">确认删除该篇帖子？</div>
        <div class="panel-body">
            <button class="btn btn-default" ng-click="cancel()">取消</button>
            <button class="btn btn-primary" ng-click="ok()">确定</button>
        </div>
    </div>
</script>
